<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="browsername" value="chrome"/>
		<!-- ie,chrome,firefox,chromeheadless,edge are configured at Driver.cs change the value here at the value tag of key browsername-->
		<add key="url" value="https://www.saucedemo.com/"/>
	</appSettings>
	
</configuration>